.vscode/
/guest/kernel/linux-*
/guest/kernel/bzImage
/guest/*.qcow2
/guest/*.tar
/build
/guest/Dockerfiles/*/vs_init
/guest/Dockerfiles/*/vs_run

# Rust
/guest/init/target/
Cargo.lock
*.rs.bk