[Unit]
Description=Load iptables

[Service]
User=root
ExecStart=sh -c 'iptables-restore < /etc/iptables/rules.v4'

[Install]
WantedBy=multi-user.target